# Default owner for everything in the repository
* @binathperera

# Example of how you could assign ownership per folder or file in future
# /src/ @binathperera
# /docs/ @binathperera
# README.md @binathperera
